@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background: rgb(180,142,255);
  background: linear-gradient(180deg, rgba(180,142,255,1) 0%, rgba(100,125,205,1) 100%);
}

input:focus-visible {
  outline: none;
}