@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background: rgb(180,142,255);
  background: linear-gradient(180deg, rgba(180,142,255,1) 0%, rgba(100,125,205,1) 100%);
}

input:focus-visible {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}